#exam {
    text-align: center;
    width: 100%; 
    background: #279eff21;
    /* border-radius: 0 30%   30% 0; */
    padding: 4.56em 0;

    /* background: #000; */
}
#exam h2{
    font-size: 2rem;
    margin: 2rem auto;
}

.exam_sub_container{
    padding: 1.58rem 0;

    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,600px));
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.exam_box_right{
    display: grid;
   grid-template-columns: repeat(3,1fr);
    padding: 0 2rem;
    gap: 1.8rem;
}
.exam_boxs{
    display: flex;
    padding:  0.5rem ;
    text-align: center;
    text-transform: capitalize;
      background: #279eff69;
    border-radius: 13px;
    flex-direction: column;
    gap: 0.8rem;

}
.exams_buttons{
        padding:  0.3rem 0.5rem;   
    background: #000;
    border-radius: 13px;
    color: #fff;
    font-size: 0.9rem;


}

@media (max-width:600px) {
    .exam_box_right{
grid-template-columns: repeat(2,1fr);
font-size: 1rem;
    }
    .exams_buttons{
    font-size: 0.6rem;
    }
}