#courses {
    padding: 2rem 0;
    background: #279eff21;
    /* border-radius: 30% 0 0 30%; */
}

#courses h2 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
}

.courses_sub_container {
    width: 80%;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 2rem;
}

.courses_sub_container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000af;
    color: #FFF;
    padding: 0.5rem;

}
.course_img1{
    background: url(./courses_img/ots.png) no-repeat center;
    background-size:100%;
}
.course_img2{
    background: url(./courses_img/olvc2.png) no-repeat center; 
    background-size:80%;
}
.course_img3{
    background: url(./courses_img/QB.png) no-repeat center; 
    background-size:70%;
}
.Course_box1,
.Course_box2,
.Course_box3 {
    background: #0178ff4f;
    padding: 0.5rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid#000;
    gap: 1rem;
    

}
.course_img1,.course_img2,.course_img3{
    width: 365px;
    height: 365px;
}

/* .course_img1 img,.course_img2 img, .course_img3 img {
    width: 100%;
} */

.course_bttons_list1,
.course_bttons_list2,
.course_bttons_list3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.course_bttons_list1 a,
.course_bttons_list2 a,
.course_bttons_list3 a {
    text-align: center;
    background: #000;
    padding: 0.5rem;
    color: #FFF;
    border-radius: 10px;
    text-transform: uppercase;

}
